.ContentObjectHolder {
    width: 95%;
    border: 2px solid #535353;
    margin-top: 15px;
    margin-bottom: 25px;
    display: flex;
    border-radius: 4px;
    flex-direction: row;
    background: rgb(255, 253, 253);
    padding: 2.5%;
}