.ContentObjectHolder {
    width: 98%;
    border: 2px solid #9a9a9a;
    margin-top: 15px;
    margin-bottom: 25px;
    overflow-y: hidden;
    overflow-x: scroll;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    gap: 2.5vh;
    background: rgb(255, 253, 253);
    padding: 10px;
}

.Img {
    height: 100%;
    background-size: cover; /* or contain/stretch as needed */
    background-position: center;
    flex-shrink: 0; /* if using flexbox */
    border-radius: 5px;
}

@media (max-width: 768px) {
    .ContentObjectHolder {
        display: grid; /* Switch to grid layout */
        grid-template-columns: repeat(auto-fit, minmax(45%, 1fr)); /* Ensure at least 2 items per row */
        gap: 2.5vh; /* Maintain consistent spacing */
        overflow-x: hidden; /* Disable horizontal scrolling for grid */
    }
    .Img {
        width: 100vh;
        max-width: 100%;
        object-fit: contain;
        border-radius: 4px;
    }
  }
  